<h3>王子</h3>
<%= link_to 'コカコーラ・ゼロ', 'http://www.cocacola.co.jp/brands/coca-cola-zero/cocacolazero' %>をこよなく愛する学生。<br>
主に使うエディタは<%= link_to 'Vim', 'http://www.vim.org/' %>(ただし、ノーカスタム)。<br>
<i class="uk-icon-github"></i> <%= link_to 'nt-2110', 'https://github.com/nt-2110'%><br>
