<nav class="uk-navbar">
  <div class="uk-container uk-container-center">
    <a href="/" class="uk-navbar-brand">サポセン技術ブログ</a>
    <ul class="uk-navbar-nav">
      <li><a href="">Blog</a></li>
      <li><a href="">Member</a></li>
      <li><a href="">Tags</a></li>
    </ul>
  </div>
</nav>