<h3>このブログに投稿する学生エンジニアたち</h3>
<ul>
	<li><%= link_to 'もりしー', '/member/about/moric' %></li>
	<li><%= link_to '王子', '/member/about/prince' %></li>
	<li><%= link_to 'たか兄', '/member/about/camera25' %></li>
	<li><%= link_to 'カレーうどん☆Mizawa', '/member/about/Mizawa' %></li>
</ul>