<h3>このブログに投稿する学生エンジニアたち</h3>
<ul class="uk-list uk-list-striped">
	<li><i class="uk-icon-user"></i> <%= link_to 'もりしー', '/member/about/moric' %></li>
	<li><i class="uk-icon-user"></i> <%= link_to '王子', '/member/about/prince' %></li>
	<li><i class="uk-icon-linux"></i> <%= link_to 'たか兄', '/member/about/kamera25' %></li>
	<li><i class="uk-icon-user"></i> <%= link_to 'カレーうどん☆Mizawa', '/member/about/Mizawa' %></li>
</ul>